<%= simple_form_for @evidence, :html => { :class => 'form-horizontal' } do |evidence_form| %>
  <% if @evidence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evidence.errors.count, "error") %> prohibited this evidence from being saved:</h2>
      <ul>
      <% @evidence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Evidence</legend>
    <%= render :partial => 'evidence_fields', :locals => { :f => evidence_form } %>
  </fieldset>
</div>

<div class="form-actions">
  <%= evidence_form.submit nil, :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', evidences_path, :class => 'btn' %>

  
<% end %>
