<% if @evidence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evidence.errors.count, "error") %> prohibited this evidence from being saved:</h2>
      <ul>
      <% @evidence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= simple_nested_form_for @evidence, :html => { :class => 'form-horizontal indent2' } do |evidence_form| %>
  
  <div class="row">
    <div class="span7">
      <fieldset>
        <%= render :partial => 'evidence_fields', :locals => { :f => evidence_form } %>
      </fieldset>
    </div>

    <div class="span5">
      <strong class="indent2">Tags for this evidence</strong>
        <div id="evidence_tags">
          <%= evidence_form.simple_fields_for :tag_assignments do |tag_form| %>
            <%= render :partial => "tag_fields", :locals => { :f => tag_form } %>
          <% end %>
          <p>
            <br /><%= evidence_form.link_to_add "Add Tag", :tag_assignments, :class => 'btn btn-mini btn-primary indent2 inline' %>
          </p>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <%= evidence_form.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', evidences_path, :class => 'btn' %>
    </div>
  </div>
<% end %>
