<fieldset>
  <Legend>All Evidence</Legend>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>Project</th>
        <th>Location</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @evidences.each do |evidence| %>
        <tr>
          <td><%= image_tag evidence.photo.url(:thumb) %></td>
          <td><%= link_to evidence.name, evidence %></td>
          <td><%= link_to evidence.project.name, evidence.project %></td>
          <td><%= evidence.location %></td>
          <td><%= link_to 'Edit', edit_evidence_path(evidence) %></td>
          <td><%= link_to 'Delete', evidence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>

<br>

<%= link_to 'New Evidence', new_evidence_path %>
