<fieldset>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>Project</th>
        <th>Location</th>
        <th>Tag</th>
      </tr>
    </thead>

    <tbody>
      <% @evidences.each do |evidence| %>
        <tr>
          <td><a href ="evidences/<%= evidence.id %>"><%= image_tag evidence.photo.url(:thumb) %></a></td>
          <td><%= link_to evidence.name, evidence %></td>
          <td><%= link_to evidence.project.name, evidence.project %></td>
          <td><%= evidence.location %></td>
          <td><%= evidence.tags.map{ |e| e.name  }.uniq %></td>
          <td><%= link_to 'Edit', edit_evidence_path(evidence) %></td>
          <td><%= link_to 'Delete', evidence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>

<br>

<a type="button" class="btn btn-default" href="/evidences/new">New Evidence</a>
