<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @evidence.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @evidence.description %>
</p>

<% if @evidence.photo.exists? %>
  <p>
    <%= image_tag @evidence.photo.url(:medium) %>
  </p>
<% end %>


<p>
  <strong>Project:</strong>
  <% if Project.all.select{|c| c.id == @evidence.project_id}.length > 0 %>
    <%= Project.all.select{|c| c.id == @evidence.project_id}.first.name %>
  <% end %>
</p>

<p>
  <strong>Location:</strong>
  <%= @evidence.location %>
</p>

<%= link_to 'Edit', edit_evidence_path(@evidence) %> |
<%= link_to 'Back', evidences_path %>
