<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @evidence.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @evidence.description %>
</p>

<% if @evidence.photo.exists? %>
  <p>
    <%= image_tag @evidence.photo.url(:medium) %>
  </p>
<% end %>


<p>
  <strong>Project:</strong>
  <% if Project.all.select{|c| c.id == @evidence.project_id}.length > 0 %>
    <%= Project.all.select{|c| c.id == @evidence.project_id}.first.name %>
  <% end %>
</p>

<p>
  <strong>Location:</strong>
  <%= @evidence.location %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @evidence.tags.map{ |e| e.name  }.uniq %>
</p>

<div class="btn-group">
  <a type="button" class="btn btn-default" href="/evidences/<%=@evidence.id%>/edit">Edit</a>
  <a type="button" class="btn btn-default" href="<%=evidences_path%>">Back</a>
</div>
