<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @evidence.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @evidence.description %>
</p>

<% if @evidence.photo.exists? %>
  <p>
    <%= image_tag @evidence.photo.url(:medium) %>
  </p>
<% end %>


<p>
  <strong>Project ID:</strong>
  <%= @evidence.project_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @evidence.location %>
</p>

<%= link_to 'Edit', edit_evidence_path(@evidence) %> |
<%= link_to 'Back', evidences_path %>
