<div class="indent2">
  <% Category.all.each do |category| %>
    <p><strong><%= category.name %></strong></p>
    <table class="table table-striped">

      <!-- TABLE HEADING -->
      <thead>
        <tr>
          <th>Section</th>
          <th>Item</th>
          <th>Points</th>
        </tr>
      </thead>

      <tbody>
        <% project.all_sections_for_project(category.id).each do |section| %>

          <!-- SECTION -->
          <tr>
            <td><%= section %></td>
            <td><%= project.section_name(section) %></td>
            <td></td>
          </tr>

          <!-- EVIDENCES -->
          <tr>
            <% project.all_evidence_for_section(section).each do |tag_assignment| %>
              <% if tag_assignment.rating > 0 || tag_assignment.rating == -99 %>
                <tr class="green sub">
                  <td></td>
                  <td>
                      <%= tag_assignment.evidence.name %>
                  </td>
                  <td>
                    <%= tag_assignment.formatted_rating %>
                  </td>
                </tr>
              <% else %>
                <tr class="red sub">
                  <td></td>
                  <td>
                      <%= tag_assignment.evidence.name %>
                  </td>
                  <td>
                    <%= tag_assignment.formatted_rating %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
