<div class="indent2">
  <p><strong>Collection & Diversion</strong></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Section</th>
        <th>Item</th>
      </tr>
    </thead>

    <tbody>
      <% project.all_sections_for_project(1).each do |section| %>
        <%= section_name(section) %>
        <div class="show_hide" onclick="toggle()">
        <% project.all_evidence_for_section(section) do |tag_assignment| %>
          <% if tag_assignment.rating > 0 %>
            <tr class="green">
              <td><%= tag_assignment.tag.section %></td>
              <% project.populate_hash %>
              <td><%= Project::SUMMARY_SECTIONS[tag_assignment.tag.section] %></td>
            </tr>
          <% else %>
            <tr class="red">
              <td><%= tag_assignment.tag.section %></td>
              <% project.populate_hash %>
              <td><%= Project::SUMMARY_SECTIONS[tag_assignment.tag.section] %></td>
            </tr>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <p><strong>Education & Communications</strong></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Section</th>
        <th>Item</th>
      </tr>
    </thead>

    <tbody>
      <% project.tag_assignments.each do |tag_assignment| %>
        <% if tag_assignment.tag.category.id == 2 %>
          <% if tag_assignment.rating > 0 %>
            <tr class="green">
              <td><%= tag_assignment.tag.section %></td>
              <% project.populate_hash %>
              <td><%= Project::SUMMARY_SECTIONS[tag_assignment.tag.section] %></td>
            </tr>
          <% else %>
            <tr class="red">
              <td><%= tag_assignment.tag.section %></td>
              <% project.populate_hash %>
              <td><%= Project::SUMMARY_SECTIONS[tag_assignment.tag.section] %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <p><strong>Purchasing</strong></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Section</th>
        <th>Item</th>
      </tr>
    </thead>

    <tbody>
      <% project.tag_assignments.each do |tag_assignment| %>
        <% if tag_assignment.tag.category.id == 3 %>
          <% if tag_assignment.rating > 0 %>
            <tr class="green">
              <td><%= tag_assignment.tag.section %></td>
              <% project.populate_hash %>
              <td><%= Project::SUMMARY_SECTIONS[tag_assignment.tag.section] %></td>
            </tr>
          <% else %>
            <tr class="red">
              <td><%= tag_assignment.tag.section %></td>
              <% project.populate_hash %>
              <td><%= Project::SUMMARY_SECTIONS[tag_assignment.tag.section] %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <p><strong>Other Notable Measures</strong></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Section</th>
        <th>Item</th>
      </tr>
    </thead>

    <tbody>
      <% project.tag_assignments.each do |tag_assignment| %>
        <% if tag_assignment.tag.category.id == 4 %>
          <% if tag_assignment.rating > 0 %>
            <tr class="green">
              <td><%= tag_assignment.tag.section %></td>
              <% project.populate_hash %>
              <td><%= Project::SUMMARY_SECTIONS[tag_assignment.tag.section] %></td>
            </tr>
          <% else %>
            <tr class="red">
              <td><%= tag_assignment.tag.section %></td>
              <% project.populate_hash %>
              <td><%= Project::SUMMARY_SECTIONS[tag_assignment.tag.section] %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
