<p id="notice"><%= notice %></p>


<h2><%= @project.name %></h2>


<p>
  <strong>Company:</strong>
  <% if Company.all.select{|c| c.id == @project.company_id}.length > 0 %>
    <%= Company.all.select{|c| c.id == @project.company_id}.first.name %>
  <% end %>
</p>
<p></p>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Summary
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
 			<%= render :partial => 'summary_report', :locals => { :project => @project } %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Evidence
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
      	<%= render :partial => 'evidence_table', :locals => { :project => @project } %>
      </div>
    </div>
  </div>
</div>
<br>
<div class="btn-group">
  <a type="button" class="btn btn-default" href="/evidences/<%=@project.id%>/edit">Edit</a>
  <a type="button" class="btn btn-default" href="<%=projects_path%>">Back</a>
</div>

