<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Company:</strong>
  <% if Company.all.select{|c| c.id == @project.company_id}.length > 0 %>
    <%= Company.all.select{|c| c.id == @project.company_id}.first.name %>
  <% end %>
</p>

<p>
  <strong>Report Summary:</strong>
  <%= render :partial => 'summary_report', :locals => { :project => @project } %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
