<p id="notice"><%= notice %></p>

<h2><%=@company.name %></h2>

<address>
  <%= @company.address %><br>
  <%= @company.zip %><br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>


<div class="col-xs-6 col-md-4">
	<h3>Employees</h3>
	<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @company.clients.each do |client| %>
        <tr>
          <td><%= link_to client.name, client %></td>
          <td><%= link_to 'Edit', edit_client_path(client) %></td>
          <td><%= link_to 'Delete', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-xs-12 col-sm-6 col-md-8">
	<h3>Projects</h3>
	<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @company.projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project %></td>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<div class="btn-group">
	<button type="button" class="btn btn-default" href="comapnies/#{@company.id}/edit">Edit</button> |
	<button type="button" class="btn btn-default"><%= link_to 'Back', companies_path %></button>
</div>
