<p id="notice"><%= notice %></p>

<p>
  <strong>Evidenceid:</strong>
  <%= @tag_assignment.evidence_id %>
</p>

<p>
  <strong>Tagid:</strong>
  <%= @tag_assignment.tag_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @tag_assignment.rating %>
</p>

<%= link_to 'Edit', edit_tag_assignment_path(@tag_assignment) %> |
<%= link_to 'Back', tag_assignments_path %>
