<p id="notice"><%= notice %></p>

<h2><%= @tag.name %></h2>

<p>
	<strong>Section:</strong>
	<%= @tag.section %>
</p>

<p>
	<strong>Maximum Points:</strong>
	<%= @tag.max_points %>
</p>
<p>
	<strong>Category:</strong>
	<%= @tag.category.name %>
</p>

<div class="btn-group">
	<a type="button" class="btn btn-default" href="/tags/<%=@tag.id%>/edit">Edit</a>
	<a type="button" class="btn btn-default" href="<%=tags_path%>">Back</a>
</div>
